$main-background-color: rgb(51, 51, 51);
$light-background-color: rgb(77, 77, 77);
$dark-background-color: rgb(32, 32, 32);
$main-color: rgb(212, 143, 47);
$dark-main-color: rgb(162, 110, 38);
$shadow: rgba(212, 143, 47, 0.6);
$pure-white: #fff;
$light-white: rgb(185, 185, 185);
$orange-gradient: linear-gradient(
	305deg,
	rgba(212, 143, 47, 0.9),
	rgba(16, 16, 16, 0.85) 65%
);
